<?xml version="1.0" encoding="UTF-8"?>
<sites>
	<site id="1">
        <js>
            <page url="/">jquery-1.8.2.min, dialog.js, slidebar.js</page>
            <page url="user/account/login">formvalidation.js, autocomplete.js</page>
        </js>
        <css>
            <page url="/">style, frame</page>
        </css>
	</site>
</sites>
